* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans serif;
  line-height: 1.5;
}

.header {
  border: 2px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  /*перенос строки */
  justify-content: space-between;
  /*прижимает содержимое к краям */
  align-items: center;
  /*выравнивает элементы по центру на вертикальной */
}

.header .toolbar ul {
  display: flex;
  list-style: none;
}

.header .toolbar ul li {
  margin: 20px 10px;
}

.header .toolbar ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #06a327;
}

.d25 {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 50px solid #2B2F6E;
  border-radius: 50%;
}

.d31 {
  width: 40px;
  height: 40px;
  margin: 5px;
  background: #82707C;
  position: relative;
  transform: rotate(20deg);
}

.d31:before {
  content: "";
  height: 40px;
  width: 40px;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(135deg);
}

.d32 {
  width: 40px;
  height: 40px;
  margin: 5px;
  background: #D7695A;
  position: relative;
}

.d32:before, .d32:after {
  content: "";
  height: 40px;
  width: 40px;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.d32:before {
  transform: rotate(30deg);
}

.d32:after {
  transform: rotate(60deg);
}

.d41 {
  width: 0;
  height: 0;
  margin: 20px;
  border: 6px solid transparent;
  border-radius: 50%;
  box-shadow: -15px -15px 0 0 red, 15px 15px 0 0 blue, -15px 15px 0 0 yellow, 15px -15px 0 0 grey, 0 -22px 0 0 orange, 0 22px 0 0 aqua, 22px 0 0 0 brown, -22px 0 0 0 crimson;
}

.d43 {
  width: 40px;
  height: 40px;
  border: 7px solid #497DDD;
  border-right-color: transparent;
  border-radius: 50%;
  border-left-color: transparent;
  position: relative;
}

.d43:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background: -webkit-radial-gradient(#EF7D55, #F24012);
  background: -o-radial-gradient(#EF7D55, #F24012);
  background: radial-gradient(#EF7D55, #F24012);
}

.d24 {
  background: #CD6D45;
  height: 50px;
  width: 10px;
  position: relative;
  left: 20px;
}

.d24:after {
  content: "";
  height: 10px;
  width: 50px;
  background: #CD6D45;
  position: absolute;
  left: -20px;
  top: 20px;
}

.background-pic-hidden {
  visibility: hidden;
  transition: opacity 0.2s;
  opacity: 0;
}

.background-pic-visibility {
  visibility: visible;
  transition: opacity 0.2s;
  opacity: 1;
}

.background-pic {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-pic-and {
  background-image: url(image/and.png);
}

.background-pic-and-not {
  background-image: url(image/and_not.png);
}

.background-pic-and-no {
  background-image: url(image/no.png);
}

.background-pic-and-or {
  background-image: url(image/or.png);
}

.background-pic-and-or-not {
  background-image: url(image/or_not.png);
}

.background-pic-and-xor {
  background-image: url(image/xor.png);
}

.wrap-relative {
  position: relative;
}